@charset "utf-8";
iframe{display:none;}
html,body{height:100%;}
body{
	margin:0;
	padding:0;
	font-size: 10px;
	font-family:arial;
	background:#FFF url(/images/template/grayback.png) repeat-x;
}
h1,h2,h3,p{
	margin:10px 0;
}
a img{border:0;}
.clear{clear:both}
.roundCorners{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#contactDialog{
	display:none;
	z-index : 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.overlay{
	position: absolute;
	z-index : 10;
	background: #000;
	width: 100%;
	opacity:.5;
	height: 100%;
}
.modal{
	position: absolute;
	z-index: 20;
	left : 50%;
	top: 50%;
	margin: 0;
	border:1px solid #CCC;
	background:#eee;

	width:0;
	height:0;
	text-align:center;
}
/* Page Header */
#dbdcHeader{
	background: url(/images/template/headerback.png) repeat scroll 0 0 transparent;
	border-bottom: 4px solid #4CB0D8;
	height: 70px;
}
#dbdcLogo{display:block;text-decoration:none;}
#dbdcLogo img{float:left;}
#dbdcLogo .text {color: white;}
#dbdcLogo .text .product{font-size: 3em;}
#dbdcLogo .text .slogan{font-size: 1.2em;}
#dbdcHeader .navMenu{
	color: #7AD4F9;
    font-size: 1.4em;
    line-height: 2em;
    margin-top: 20px;
}
#dbdcHeader .navMenu a{
	color:#7ad4f9;
	text-decoration:none;
	font-weight:bold;
}
#dbdcHeader .navMenu a:hover{color:#ffffff;}

#authbox{
	background: url(/images/template/authbox.png) no-repeat scroll 0 0 transparent;
    height: 31px;
    padding: 0;
    width: 130px;
	text-align:center;
}
#authbox a{
	font-weight:normal!important;
	font-size:0.9em;
}
span#hlinks>span {float:left;background:none;padding-top:8px}
span#hlinks>span.on{height:57px;background:url(/images/template/menuarrow.png) no-repeat scroll center bottom transparent;}
span#hlinks>span.on>a{color:white;}

/* Page Body */
#pageBody{height:100%;}

/* Sticky footer*/
.wrapper {min-height:100%;height:auto !important;height:100%;margin:0 auto -50px;}
.footer, .push {height: 50px;}
#dbdcFooter{
	height:30px;
	background:#FFF url(../images/template/grayback.png) repeat-x;
	width:100%;
	padding:20px 0 0 0;
	font-size:1.2em;
	color:#878787;
}
#dbdcFooter a{
	color:#0097d4;
	text-decoration:none;
}
#dbdcFooter ul.hmenu{float:right;}
a.social{width:21px;height:21px;display:inline-block;background-image:url(/images/template/social_footer.png)}
a.social.fb{background-position:0px 0;}
a.social.twitter{background-position:-21px 0;}
a.social.rss{background-position:-42px 0;}

.us_site{width:16px;height:11px;display:inline-block;background-image:url(/images/template/us.png)}
.jp_site{width:16px;height:11px;display:inline-block;background-image:url(/images/template/jp.png)}


ul.hmenu{
	list-style:none;
	padding:0;
	margin:0;
	overflow: hidden;
}
ul.hmenu li{float:left;}
.floatleft{float:left}
.floatright{float:right}
.margin_0_5.cascade a,
.margin_0_5{margin:0 5px;}
.margin_0_10.cascade a, .margin_0_10{margin:0 10px;}
.padding_0_5{padding:0 5px;}
.padding_0_10{padding:0 10px;}
.padding_0_20{padding:0 20px;}
.padding_0_0_0_10{padding:0 0 0 10px;}
.margin_0_0_0_10{margin:0 0 0 10px;}
.margin_0_0_0_20{margin:0 0 0 20px;}
.noMarginRight{margin-right:0;}
.noMarginLeft{margin-left:0;}

.relative{position:relative}
.contentBox{
	border:1px solid #CCC;
	background:#fff;
    margin-top: 2px;
}
.contentBoxGray{
	border:1px solid #CCC;
	background:#eee;
}
.backWhite{background:#fff!important;}
.backGray{background:#fbfbfb!important;}
#newsBar{
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #878787;
    font-size: 1.2em;
    height: 36px;
    line-height: 37px;
    overflow: hidden;

	position: relative;
}
#newsBar b{
	color:black;
}
#newsBar>.floatright{width:425px;}
#newsBar>.floatright>span{width:260px;}

#newsBar>.floatleft>span{width:88px;}
a.signup{
	float: right;
}
#newsBar img{
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 -5px 0 0;
}
#boxes{
	margin: 10px auto;
	color:#878787;
	font-size:1.3em;
	line-height:1.3em;
}
#boxes a{
	color:#0097d4;
	text-decoration:none;
    background: url(/images/trust/link.png) no-repeat scroll right 5px;
    padding-right:8px;
}
#boxes b{color:black;}
#boxes>div{
    background-image: url(/images/template/boxes.png);
    background-position:center top;
	height: 94px;
    margin: 0;
    padding: 20px;
    width: 195px;
	position:relative;
}
#boxes>div.first{background-position:left top;margin: 0 0 0 10px;}
#boxes>div.last{background-position:right top;margin: 0 10px 0 0;}
#boxes>div:hover{background-position:center bottom;}
#boxes>div.first:hover{background-position:left bottom;}
#boxes>div.last:hover{background-position:right bottom;}
#boxes span {display:block;width:140px;}
#boxes .icon{bottom:23px;position:absolute;right:20px;height:59px;background-image:url(/images/template/feature_icons.png)}
#boxes .icon.mobile{width:34px;background-position:0px 0}
#boxes .icon.social{width:64px;background-position:-35px 0}
#boxes .icon.trusted{width:41px;background-position:-100px 0}
#boxes .icon.open{width:52px;background-position:-141px 0}

.apicounter{font-size:1.7em;background-color:#D1E1F3;margin:0 -3px;padding:0 3px;}
#recaptcha_area{display:inline-block;}
#recaptcha_widget_div>label.error{vertical-align:bottom;padding:20px 5px;}

.contentBox.text{min-height:430px;line-height:18px}
.contentBox.text>div{margin-top:30px;}
.contentBox.text h1{font-size:1.7em;margin:5px 0;}
.contentBox.text p,
.contentBox.text li{color:#878787;font-size:1.4em;}
.contentBox.text a{color:#0097D4;}
#supportBody p, #supportBody li{margin:0 0 30px;}
#successBody p, #successBody li, #successBody h1{margin:0 0 15px;}

#hiw-body>div{margin-bottom:20px}
#hiw-body img.chiclet{float:left;margin:5px 20px 0 0}
#hiw-body div.image-title{color: #878787;font-size: 1.1em;font-weight: bold;text-align: center;width: 100%;}
